@import url(../global.css);

:root {
  /* CSS COLORS */

  /* primary colors */
  --bg-color: #ffffff;
  --red: #fd5c63;
  --light-red: hsl(357, 97.6%, 90%);
  --black: #20282d;
  --grey: #f4f4f4;
  --light-gray: #e9e9ea;
  --lighter-gray: hsl(0, 0%, 83%, 20%);


  --purple: #8d51e7;
  --light-purple: #f4eefd;

  --seagreen: #4dc6d6;
  --light-seagreen: #edf9fb;


  /* Secondary color, specially for login btn */
  --blue: #5174e7;
  --light-blue: #cbd5f8;

  /* Tertiary color, for homepage section bg */
  --blue: #5174e7;
  --light-blue: #cbd5f8;

  --green: #1bc47d;
  --light-green: #bbedd8;

  --pink: #ff5985;
  --light-pink: #ffcdda;

  --peach: #ff9059;
  --light-peach: #ffdecd;

  --cardsbg-lightgray: rgb(248, 248, 248);


  /* # padding spaces */
  --section-padding: 10dvh 5dvh;

  /* Font styles */
  --GSans-var: "GeneralSans-Variable";
  --GSans-varItal: "GeneralSans-VariableItalic";
  --GSans-extraLight: "GeneralSans-Extralight";
  --GSans-extraLightItalic: "GeneralSans-ExtralightItalic";
  --GSans-light: "GeneralSans-Light";
  --GSans-lightItalic: "GeneralSans-LightItalic";
  --GSans-reg: "GeneralSans-Regular";
  --GSans-italic: "GeneralSans-Italic";
  --GSans-med: "GeneralSans-Medium";
  --GSans-medItal: "GeneralSans-MediumItalic";
  --GSans-semibold: "GeneralSans-Semibold";
  --GSans-semiboldItal: "GeneralSans-SemiboldItalic";
  --GSans-bold: "GeneralSans-Bold";
  --GSans-boldItal: "GeneralSans-BoldItalic";
}


/* About Us Page */

.image-fluid {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: auto;
}
.image1 {
  width: 350px;
  height: 300px;
  margin-top: 350px;
  border-radius: 25px;
}
.image2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 300px;
  border-radius: 25px;
  z-index: 10;
}
@media screen and (max-width: 992px) {
  .vid {
    display: block;
  }
  .vid-mobile {
    display: block !important;
    margin-bottom: 30px;
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .image1,
  .image2 {
    width: 200px;
    height: 180px;
  }

  .image1 {
    margin-top: 200px;
  }

  .image2 {
    left: 175px;
  }

  .image-fluid {
    left: 50%;
    transform: translateX(-50%);
    max-width: 280px;
  }

  .vid {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.heading-about {
  font-size: 2.5rem;
  font-family: var(--GSans-bold);
  color: #fd5c63;
  margin-top: 50px;
}
span {
  text-decoration: underline gray;
}
.description {
  font-family: var(--Gsans-reg);
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

.main-headings {
  font-family: var(--Gsans-reg);
  font-size: 3.2rem;
}
.vid {
  width: 80%;
  /* height: 100%; */
  margin-top: 70px;
  margin-left: 80px;
}
.about-btn {
  padding: 1.2rem 2.2rem;
  background-color: var(--red);
  font-size: 1.5rem;
  font-family: var(--GSans-med);
  color: white;
  border-radius: 30px;
}
.about-btn:hover {
  filter: brightness(0.95);
}
.vid-mobile {
  display: none;
}
