@import url(../global.css);

:root {
    /* CSS COLORS */
  
    /* primary colors */
    --bg-color: #ffffff;
    --red: #fd5c63;
    --light-red: hsl(357, 97.6%, 90%);
    --black: #20282d;
    --grey: #f4f4f4;
    --light-gray: #e9e9ea;
    --lighter-gray: hsl(0, 0%, 83%, 20%);


    
    --purple: #8d51e7;
    --light-purple: #ddcbf8;
  
    --seagreen: #4dc6d6;
    --light-seagreen: #edf9fb;

    /* extralight version */
    --extra-light-red: #fff2f2;
    --extra-light-green: #e9fff6;
    --extra-light-blue: #e9edff;
    --extra-light-pink: #ffe6ed;
    --extra-light-peach: #fff1e9;
    --extra-light-purple: #f4eefd;


    /* Secondary color, specially for login btn */
    --blue: #5174e7;
    --light-blue: #cbd5f8;
  
    /* Tertiary color, for homepage section bg */
    --blue: #5174e7;
    --light-blue: #cbd5f8;
  
    --green: #1bc47d;
    --light-green: #bbedd8;
  
    --pink: #ff5985;
    --light-pink: #ffcdda;
  
    --peach: #ff9059;
    --light-peach: #ffdecd;
  
    /* # padding spaces */
    --section-padding: 10dvh 5dvh;
  
    /* Font styles */
    --GSans-var: "GeneralSans-Variable";
    --GSans-varItal: "GeneralSans-VariableItalic";
    --GSans-extraLight: "GeneralSans-Extralight";
    --GSans-extraLightItalic: "GeneralSans-ExtralightItalic";
    --GSans-light: "GeneralSans-Light";
    --GSans-lightItalic: "GeneralSans-LightItalic";
    --GSans-reg: "GeneralSans-Regular";
    --GSans-italic: "GeneralSans-Italic";
    --GSans-med: "GeneralSans-Medium";
    --GSans-medItal: "GeneralSans-MediumItalic";
    --GSans-semibold: "GeneralSans-Semibold";
    --GSans-semiboldItal: "GeneralSans-SemiboldItalic";
    --GSans-bold: "GeneralSans-Bold";
    --GSans-boldItal: "GeneralSans-BoldItalic";
}

  

.brands-name {
    width: 100%;
    padding: var(--section-padding);
    /* background-color: #1bc47d; */
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--black);
}

.brands-name h2 {
    margin-bottom: 1rem;
}

.brands-name h2 span {
    /* font-style: italic; */
    color: var(--red);
}

.brands-name h3 {
    margin-bottom: 5rem;
}

.brands-name-container {
    /* background-color: #bbedd8; */
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.brands-name-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    border-radius: 0.5rem;
    padding: 1rem 2.3rem;
    font-family: var(--GSans-med);
    gap: 1rem;
}

.brands {
    /* background-color: #8d51e7; */
    overflow: hidden;
}

.brands span {
    display: inline-block;
}

.brands-name-container a svg {
    height: 1.8rem;
    width: 1.8rem;
}

.brands-name-container a:nth-child(1) {
    color: var(--red);
    border: 2px solid transparent;
    background-color: var(--extra-light-red);
}

.brands-name-container a:nth-child(1):hover {
    border: 2px solid var(--red);
}

.brands-name-container a:nth-child(2) {
    color: var(--purple);
    border: 2px solid transparent;
    background-color: var(--extra-light-purple);
}

.brands-name-container a:nth-child(2):hover {
    border: 2px solid var(--purple);
}

.brands-name-container a:nth-child(3) {
    color: var(--green);
    border: 2px solid transparent;
    /* border: 2px solid var(--green); */
    background-color: var(--extra-light-green);
}

.brands-name-container a:nth-child(3):hover {
    border: 2px solid var(--green);
}

.brands-name-container a:nth-child(4) {
    color: var(--blue);
    border: 2px solid transparent;
    background-color: var(--extra-light-blue);
}

.brands-name-container a:nth-child(4):hover {
    border: 2px solid var(--blue);
}

.brands-name-container a:nth-child(5) {
    color: var(--seagreen);
    border: 2px solid transparent;
    background-color: var(--light-seagreen);
}

.brands-name-container a:nth-child(5):hover {
    border: 2px solid var(--seagreen);
}

.brands-name-container a:nth-child(6) {
    color: var(--pink);
    border: 2px solid transparent;
    background-color: var(--extra-light-pink);
}

.brands-name-container a:nth-child(6):hover {
    border: 2px solid var(--pink);
}

.brands-name-container a:nth-child(7) {
    color: var(--purple);
    border: 2px solid transparent;
    background-color: var(--extra-light-purple);
}

.brands-name-container a:nth-child(7):hover {
    border: 2px solid var(--purple);
}

.brands-name-container a:nth-child(8) {
    color: var(--peach);
    border: 2px solid transparent;
    background-color: var(--extra-light-peach);
}

.brands-name-container a:nth-child(8):hover {
    border: 2px solid var(--peach);
}