@import url(../global.css);


:root {
    /* CSS COLORS */
  
    /* primary colors */
    --bg-color: #ffffff;
    --red: #fd5c63;
    --light-red: hsl(357, 97.6%, 90%);
    --black: #20282d;
    --grey: #f4f4f4;
    --light-gray: #e9e9ea;
    --lighter-gray: hsl(0, 0%, 83%, 20%);
  
  
    --purple: #8d51e7;
    --light-purple: #f4eefd;
  
    --seagreen: #4dc6d6;
    --light-seagreen: #edf9fb;
  
  
    /* Secondary color, specially for login btn */
    --blue: #5174e7;
    --light-blue: #cbd5f8;
  
    /* Tertiary color, for homepage section bg */
    --blue: #5174e7;
    --light-blue: #cbd5f8;
  
    --green: #1bc47d;
    --light-green: #bbedd8;
  
    --pink: #ff5985;
    --light-pink: #ffcdda;
  
    --peach: #ff9059;
    --light-peach: #ffdecd;
  
    /* # padding spaces */
    --section-padding: 10dvh 5dvh;
  
    /* Font styles */
    --GSans-var: "GeneralSans-Variable";
    --GSans-varItal: "GeneralSans-VariableItalic";
    --GSans-extraLight: "GeneralSans-Extralight";
    --GSans-extraLightItalic: "GeneralSans-ExtralightItalic";
    --GSans-light: "GeneralSans-Light";
    --GSans-lightItalic: "GeneralSans-LightItalic";
    --GSans-reg: "GeneralSans-Regular";
    --GSans-italic: "GeneralSans-Italic";
    --GSans-med: "GeneralSans-Medium";
    --GSans-medItal: "GeneralSans-MediumItalic";
    --GSans-semibold: "GeneralSans-Semibold";
    --GSans-semiboldItal: "GeneralSans-SemiboldItalic";
    --GSans-bold: "GeneralSans-Bold";
    --GSans-boldItal: "GeneralSans-BoldItalic";
  }



.slider {
  /* background: #eee; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  position: relative;
  height: 100dvh;
  padding: 5rem 0;
  background-color: #bbedd8;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-container {
  width: 100%;
  height: 80%;
}



/* .append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
} */