@import url(../global.css);

:root {
  /* CSS COLORS */

  /* primary colors */
  --bg-color: #ffffff;
  --red: #fd5c63;
  --light-red: hsl(357, 97.6%, 90%);
  --black: #20282d;
  --grey: #f4f4f4;
  --light-gray: #e9e9ea;
  --lighter-gray: hsl(0, 0%, 83%, 20%);

  /* Secondary color, specially for login btn */
  --blue: #5174e7;
  --light-blue: #cbd5f8;

  /* Tertiary color, for homepage section bg */
  --blue: #5174e7;
  --light-blue: #cbd5f8;

  --green: #1bc47d;
  --light-green: #bbedd8;

  --pink: #ff5985;
  --light-pink: #ffcdda;

  --peach: #ff9059;
  --light-peach: #ffdecd;

  /* # padding spaces */
  --section-padding: 10dvh 5dvh;

  /* Font styles */
  --GSans-var: "GeneralSans-Variable";
  --GSans-varItal: "GeneralSans-VariableItalic";
  --GSans-extraLight: "GeneralSans-Extralight";
  --GSans-extraLightItalic: "GeneralSans-ExtralightItalic";
  --GSans-light: "GeneralSans-Light";
  --GSans-lightItalic: "GeneralSans-LightItalic";
  --GSans-reg: "GeneralSans-Regular";
  --GSans-italic: "GeneralSans-Italic";
  --GSans-med: "GeneralSans-Medium";
  --GSans-medItal: "GeneralSans-MediumItalic";
  --GSans-semibold: "GeneralSans-Semibold";
  --GSans-semiboldItal: "GeneralSans-SemiboldItalic";
  --GSans-bold: "GeneralSans-Bold";
  --GSans-boldItal: "GeneralSans-BoldItalic";
}

.feature {
  width: 100%;
  height: 100dvh;
  padding: var(--section-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #5174e7; */
  width: 80%;
}

.feature-container h2 {
  margin-bottom: 1.3rem;
}

/* .feature-container p {

} */

/* botstrap container */
.feature-card-container {
  /* background-color: #1bc47d; */
  width: 100%;
  margin-top: 5rem;
}

/* style columns of bootstrap */
.feature-box {
  /* background-color: #ffcdda; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 1.5rem;
  padding: 1.5rem;
}

.feature-svg {
  margin-bottom: 1rem;
}

.feature-box h3 {
  font-size: 1.8rem;
  font-family: var(--GSans-light);
  margin-bottom: 1rem;
}

.feature-box p{
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: var(--GSans-reg);
}