@import url(../global.css);

:root {

    /* CSS COLORS */

    /* primary colors */
    --bg-color: #ffffff;
    --red: #fd5c63;
    --light-red:hsl(357, 97.60%, 90%);
    --black: #20282d;
    --grey: #f4f4f4;
    --light-gray: #e9e9ea;
    --lighter-gray: hsl(0, 0%, 83%, 20%);

    /* Secondary color, specially for login btn */
    --blue: #5174e7; 
    --light-blue: #cbd5f8;

    /* Tertiary color, for homepage section bg */
    --blue: #5174e7; 
    --light-blue: #cbd5f8;

    --green: #1bc47d;
    --light-green: #bbedd8;
    
    --pink: #ff5985;
    --light-pink: #ffcdda;
    
    --peach: #ff9059 ;
    --light-peach: #ffdecd;

    
    /* # padding spaces */
    --section-padding: 10dvh 5dvh;

    /* Font styles */
    --GSans-var: 'GeneralSans-Variable';
    --GSans-varItal: 'GeneralSans-VariableItalic';
    --GSans-extraLight: 'GeneralSans-Extralight';
    --GSans-extraLightItalic: 'GeneralSans-ExtralightItalic';
    --GSans-light: 'GeneralSans-Light';
    --GSans-lightItalic: 'GeneralSans-LightItalic';
    --GSans-reg: 'GeneralSans-Regular';
    --GSans-italic: 'GeneralSans-Italic';
    --GSans-med: 'GeneralSans-Medium';
    --GSans-medItal: 'GeneralSans-MediumItalic';
    --GSans-semibold: 'GeneralSans-Semibold';
    --GSans-semiboldItal: 'GeneralSans-SemiboldItalic';
    --GSans-bold: 'GeneralSans-Bold';
    --GSans-boldItal: 'GeneralSans-BoldItalic';


}

footer {
    /* height: 80dvh; */
    width: 100%;
    padding: 5rem;
    padding-bottom: 3rem;
    background-color: var(--grey);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: var(--black);
}








.copyright {
    color: #737373;
    font-size: 1.2rem;
    text-align: center;
    border-top: 1px solid #b3b3b3;
    padding-top: 2rem;
}