@import url(../global.css);


:root {

    /* CSS COLORS */

    /* primary colors */
    --bg-color: #ffffff;
    --red: #fd5c63;
    --light-red:hsl(357, 97.60%, 90%);
    --black: #20282d;
    --grey: #f4f4f4;
    --light-gray: #e9e9ea;
    --lighter-gray: hsl(0, 0%, 83%, 20%);

    /* Secondary color, specially for login btn */
    --blue: #5174e7; 
    --light-blue: #cbd5f8;

    /* Tertiary color, for homepage section bg */
    --blue: #5174e7; 
    --light-blue: #cbd5f8;

    --green: #1bc47d;
    --light-green: #bbedd8;
    
    --pink: #ff5985;
    --light-pink: #ffcdda;
    
    --peach: #ff9059 ;
    --light-peach: #ffdecd;

    
    /* # padding spaces */
    --section-padding: 10dvh 5dvh;

    /* Font styles */
    --GSans-var: 'GeneralSans-Variable';
    --GSans-varItal: 'GeneralSans-VariableItalic';
    --GSans-extraLight: 'GeneralSans-Extralight';
    --GSans-extraLightItalic: 'GeneralSans-ExtralightItalic';
    --GSans-light: 'GeneralSans-Light';
    --GSans-lightItalic: 'GeneralSans-LightItalic';
    --GSans-reg: 'GeneralSans-Regular';
    --GSans-italic: 'GeneralSans-Italic';
    --GSans-med: 'GeneralSans-Medium';
    --GSans-medItal: 'GeneralSans-MediumItalic';
    --GSans-semibold: 'GeneralSans-Semibold';
    --GSans-semiboldItal: 'GeneralSans-SemiboldItalic';
    --GSans-bold: 'GeneralSans-Bold';
    --GSans-boldItal: 'GeneralSans-BoldItalic';


}



.hero {
    color: var(--black);
    width: 100%;
    /* padding: var(--section-padding); */
    padding: 10dvh;
    height: 110dvh;
    background-color: white;
}


.hero-container {
    height: 100dvh;
    /* background-color: #1bc47d; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left  {
    height: inherit;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 8rem;
    /* gap: 2rem; */
    /* background-color: #ffcdda; */
}

.hero-subTitle {
    border-left: 5px solid var(--blue);
    border-radius: 0.5rem;
    padding: 1rem 0;
    padding-left: 3rem;
    padding-right: 6rem;
    display: inline-block;
    /* background-color: #cbd5f8; */
    /* color: var(--blue); */
    color: var(--blue);
    margin-bottom: 5rem;
}

.hero-subTitle h5 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.hero-title {
    /* margin-bottom: 3rem; */
}

.hero-title h2 {
    /* text-transform: uppercase; */
    font-family: var(--GSans-med);
    /* font-weight: 300; */
    font-size: 5rem;
    line-height: 1;
    overflow: hidden;
    /* background-color: #1bc47d; */
}

.hero-title h2 span {
    display: inline-block;
    /* background-color: #fd5c63; */
}

#hero-title-span{
    display: inline-flex;
}

#hero-title-span {
    color: var(--blue);
}

.hero-description {
    margin-top: 2rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

/* hero left container */

.hero-right {
    /* background-color: #5174e7; */
    width: 40%;
    height: 90dvh;
}

.hero-right-container {
    /* height: inherit; */
    /* height: 75dvh; */
    position: relative;
    /* background-color: #5174e7; */
    isolation: isolate;
}

.hero-right-container .hero-svg {
    height: 95dvh;
    width: 100dvh;
    z-index: 2;
    position: absolute;
    /* top: 100%; */
    left: 35%;
    transform: translate(-50%, -5%);
}

.hero-backdrop {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, 5%);
}

.hero-right-container .img {    
    position: absolute;
    top: 2rem;
    left: 35%;
    transform: translate(-50%, -10%);
    height: 80dvh;
    /* width: 70dvh; */
    top: 0%;
    border-radius: 1rem;
    z-index: 5;
}

.hero-backdrop  {
    height: 80dvh;
    width: 90dvh;
    background-color: var(--light-blue);
    border-radius: 5rem;
    z-index: -1;
}



/* media quries */

/* for smaller mobile */
@media (max-width: 499px) {
    
  .hero {
    padding: 3dvh;
    height: auto;
    text-align: center;
    /* background-color: #bbedd8; */
}

.hero-container {
  margin-top: 3rem;
  height: auto;
  flex-direction: column;
  /* background-color: #1bc47d; */
}

.hero-left  {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.hero-subTitle {
  padding: 0.5rem 0;
  padding-left: 1.5rem;
  padding-right: 3rem;
  margin-bottom: 2rem;
}

.hero-subTitle h5 {
  font-size: 1rem;
}

.hero-title h2 {
  font-size: 3.4rem;
  overflow: hidden;
}

.hero-description {
  display: none;
}


/* hero left container */

.hero-right {
/* background-color: #5174e7; */
width: 40%;
height: 50dvh;
margin-bottom: 6rem;
}

.hero-right-container {
position: relative;
isolation: isolate;
}

.hero-right-container .hero-svg {
height: 52dvh;
width: 100dvh;
left: 50%;
}

.hero-backdrop {
top: 30%;
left: 50%;
}

.hero-right-container .img {    
top: 2rem;
left:50%;
height: 45dvh;
top: 0%;
}

.hero-backdrop  {
height: 48dvh;
width: 50dvh;
}

}



/* for Mobile */
@media (max-width: 767px) and (min-width: 500px) {

  .hero {
    padding: 5dvh;
    height: auto;
    text-align: center;
    /* background-color: #bbedd8; */
}

.hero-container {
  margin-top: 3rem;
  height: auto;
  flex-direction: column;
  /* background-color: #1bc47d; */
}

.hero-left  {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.hero-subTitle {
  padding: 0.5rem 0;
  padding-left: 1.5rem;
  padding-right: 3rem;
  margin-bottom: 2rem;
}

.hero-subTitle h5 {
  font-size: 1rem;
}

.hero-title h2 {
  font-size: 3.4rem;
  overflow: hidden;
}

.hero-description {
  display: none;
}


/* hero left container */

.hero-right {
/* background-color: #5174e7; */
width: 40%;
height: 50dvh;
margin-bottom: 3rem;
}

.hero-right-container {
position: relative;
isolation: isolate;
}

.hero-right-container .hero-svg {
height: 52dvh;
width: 100dvh;
left: 50%;
}

.hero-backdrop {
top: 30%;
left: 50%;
}

.hero-right-container .img {    
top: 2rem;
left:50%;
height: 45dvh;
top: 0%;
}

.hero-backdrop  {
height: 48dvh;
width: 50dvh;
}

}


/* for Tablet */
@media (max-width: 1023px) and (min-width: 768px) {

  .hero {
      padding: 5dvh;
      height: auto;
      /* background-color: #bbedd8; */
  }

  .hero-container {
    margin-top: 3rem;
    height: auto;
    /* background-color: #1bc47d; */
}

.hero-left  {
    height: inherit;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0rem;
}

.hero-subTitle {
    padding: 0.5rem 0;
    padding-left: 1.5rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
}

.hero-subTitle h5 {
    font-size: 1rem;
}

.hero-title h2 {
    font-size: 3.4rem;
    overflow: hidden;
}

.hero-description {
  margin-top: 1rem;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.8;
}


/* hero left container */

.hero-right {
  /* background-color: #5174e7; */
  width: 40%;
  height: 50dvh;
}

.hero-right-container {
  position: relative;
  isolation: isolate;
}

.hero-right-container .hero-svg {
  height: 50dvh;
  width: 100dvh;
  left: 45%;
}

.hero-backdrop {
  top: 30%;
  left: 45%;
}

.hero-right-container .img {    
  top: 2rem;
  left: 45%;
  height: 45dvh;
  top: 0%;
}

.hero-backdrop  {
  height: 48dvh;
  width: 50dvh;
}

}


@media (max-width: 1260px) and (min-width: 1024px) {


  .hero {
    padding: 5dvh;
    height: auto;
}


.hero-container {
   margin-top: 3rem;
    height: auto;
}

  /* hero left container */
  .hero-right {
    width: 40%;
    height: 80dvh;
  }

  .hero-right-container .hero-svg {
    height: 80dvh;
    width: 75dvh;
  }

  .hero-right-container .img {    
    height: 70dvh;
  }

  .hero-backdrop  {
    height: 70dvh;
    width: 70dvh;
  }

}