@import url(../global.css);

:root {
  /* CSS COLORS */

  /* primary colors */
  --bg-color: #ffffff;
  --red: #fd5c63;
  --light-red: hsl(357, 97.6%, 90%);
  --black: #20282d;
  --grey: #f4f4f4;
  --light-gray: #e9e9ea;
  --lighter-gray: hsl(0, 0%, 83%, 20%);

  /* Secondary color, specially for login btn */
  --blue: #5174e7;
  --light-blue: #cbd5f8;

  /* Tertiary color, for homepage section bg */
  --blue: #5174e7;
  --light-blue: #cbd5f8;

  --green: #1bc47d;
  --light-green: #bbedd8;

  --pink: #ff5985;
  --light-pink: #ffcdda;

  --peach: #ff9059;
  --light-peach: #ffdecd;

  /* # padding spaces */
  --section-padding: 10dvh 5dvh;

  /* Font styles */
  --GSans-var: "GeneralSans-Variable";
  --GSans-varItal: "GeneralSans-VariableItalic";
  --GSans-extraLight: "GeneralSans-Extralight";
  --GSans-extraLightItalic: "GeneralSans-ExtralightItalic";
  --GSans-light: "GeneralSans-Light";
  --GSans-lightItalic: "GeneralSans-LightItalic";
  --GSans-reg: "GeneralSans-Regular";
  --GSans-italic: "GeneralSans-Italic";
  --GSans-med: "GeneralSans-Medium";
  --GSans-medItal: "GeneralSans-MediumItalic";
  --GSans-semibold: "GeneralSans-Semibold";
  --GSans-semiboldItal: "GeneralSans-SemiboldItalic";
  --GSans-bold: "GeneralSans-Bold";
  --GSans-boldItal: "GeneralSans-BoldItalic";
}

header {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2dvh 5dvh;
  z-index: 15;
  /* border-bottom: 1px solid black; */
  height: 12vh;
  position: sticky;
  top: 0;
  left: 0;
  color: var(--black);
  opacity: 1;
  z-index: 50;
}

.navigation > ul {
  /* background-color: #1bc47d; */
  display: flex;
  align-items: center;
  gap: 1.5vh;
  /* background-color: #fd5c63; */
}

.navigation > ul > li > a {
  border-radius: 25px;
  padding: 0.8rem 1.9rem;
  transition: 0.3s ease-in-out background-color;
  text-decoration: none;
  color: var(--black);
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  height: inherit;
}

.navigation > ul > li > a:hover {
  background-color: var(--light-gray);
}

.brands-anchor {
  cursor: default;
}

.menu-profiles {
  /* background-color: #1bc47d; */
  display: flex;
  align-items: center;
  gap: 1dvh;
}

.menu-profiles li {
  padding: 0.8rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 83%, 20%);
  /* background-color: var(--light-red); */
  transition: 0.3s ease-in-out background-color;
}

.menu-profiles li:hover {
  background-color: var(--light-gray);
}

/* Submenu Style starts */
.has-submenu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  isolation: isolate;
}

.has-submenu > ul {
  /* background-color: hsl(0, 0%, 83%, 20%); */
  background-color: var(--grey);
  position: absolute;
  top: 100%;
  transform: translate(-35%);
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  /* padding-top: 2rem; */
  border: 0.5px solid var(--light-gray);
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  backdrop-filter: blur(3px);
}


.has-submenu > ul > .submenu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  /* background-color: #cbd5f8; */
}

.submenus-menu {
  padding: 0.2rem;
}

.submenus-menu h5 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
}

.submenus-menu ul {
  padding-left: 0;
}

.submenus-menu > ul > li {
  font-weight: 600;
  font-family: var(--GSans-light);
  /* background-color: #1bc47d; */
}

.submenus-menu > ul > li > a {
  /* background-color: var(--light-gray); */
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem 1.8rem;
  display: inline-block;
  width: 20rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--black);
  font-size: 1.1rem;
}

.submenus-menu ul li a::after {
  content: url(../../images/nav-icons/icon-arrow-right.svg);
  background-color: var(--red);
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
}

/* Submenu Style End */
