@import url(./global.css);

:root {
  /* CSS COLORS */

  /* primary colors */
  --bg-color: #ffffff;
  --red: #fd5c63;
  --light-red: hsl(357, 97.6%, 90%);
  --black: #20282d;
  --grey: #f4f4f4;
  --light-gray: #e9e9ea;
  --lighter-gray: hsl(0, 0%, 83%, 20%);


  --purple: #8d51e7;
  --light-purple: #f4eefd;

  --seagreen: #4dc6d6;
  --light-seagreen: #edf9fb;


  /* Secondary color, specially for login btn */
  --blue: #5174e7;
  --light-blue: #cbd5f8;

  /* Tertiary color, for homepage section bg */
  --blue: #5174e7;
  --light-blue: #cbd5f8;

  --green: #1bc47d;
  --light-green: #bbedd8;

  --pink: #ff5985;
  --light-pink: #ffcdda;

  --peach: #ff9059;
  --light-peach: #ffdecd;

  --cardsbg-lightgray: rgb(248, 248, 248);


  /* # padding spaces */
  --section-padding: 10dvh 5dvh;

  /* Font styles */
  --GSans-var: "GeneralSans-Variable";
  --GSans-varItal: "GeneralSans-VariableItalic";
  --GSans-extraLight: "GeneralSans-Extralight";
  --GSans-extraLightItalic: "GeneralSans-ExtralightItalic";
  --GSans-light: "GeneralSans-Light";
  --GSans-lightItalic: "GeneralSans-LightItalic";
  --GSans-reg: "GeneralSans-Regular";
  --GSans-italic: "GeneralSans-Italic";
  --GSans-med: "GeneralSans-Medium";
  --GSans-medItal: "GeneralSans-MediumItalic";
  --GSans-semibold: "GeneralSans-Semibold";
  --GSans-semiboldItal: "GeneralSans-SemiboldItalic";
  --GSans-bold: "GeneralSans-Bold";
  --GSans-boldItal: "GeneralSans-BoldItalic";
}


.offer-section {
  height: 100dvh;
  width: 100%;
  padding: var(--section-padding);
  padding-top: 15dvh;
}

.offer-section  h2 {
  text-align: center;
  margin-bottom: 5rem;
}

.offer-section  h2 span {
  color: var(--red);
}

.offer-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;

}

.offer-svg {
  height: 7rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-red);
  border-radius: 50%;
  margin-top: 2rem;
}

.offer-box {
  /* background-color: #1bc47d; */
  /* height: 28rem; */
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 2.2rem;
  border: 2px solid var(--light-red);
  border-radius: 25px;
}

.offer-box:hover {
  border: 2px solid var(--red);
}

.offer-box:hover .offer-svg {
  background-color: var(--red);
}

.offer-title h5 {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--GSans-reg);
  margin-top: 2rem;
}

.offer-description p {
  font-size: 1.5rem;
  margin-top: 1rem;
}






/* media quries */

/* for smaller mobile */
@media (max-width: 499px){


  .offer-section {
    height: auto;
    width: 100%;
    padding: 5dvh;
    /* padding-top: 5dvh; */
  }
  
  .offer-section  h2 {
    margin-bottom: 3rem;
  }
  
  .offer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  
  }
  
  .offer-svg {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-red);
    border-radius: 50%;
    margin-top: 2rem;
  }
  
  .offer-box {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 2.2rem;
    border: 2px solid var(--light-red);
    border-radius: 25px;
  }

  .offer-title h5 {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: var(--GSans-reg);
    margin-top: 1rem;
  }
  
  .offer-description p {
    font-size: 1rem;
    margin-top: 1rem;
  }
  
    
}



/* for Mobile */
@media (max-width: 767px) and (min-width: 500px) {

  .offer-section {
    height: auto;
    width: 100%;
    padding: 5dvh;
    /* padding-top: 5dvh; */
  }
  
  .offer-section  h2 {
    margin-bottom: 3rem;
  }
  
  .offer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  
  }
  
  .offer-svg {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-red);
    border-radius: 50%;
    margin-top: 2rem;
  }
  
  .offer-box {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 2.2rem;
    border: 2px solid var(--light-red);
    border-radius: 25px;
  }

  .offer-title h5 {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: var(--GSans-reg);
    margin-top: 1rem;
  }
  
  .offer-description p {
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  
  
}


