@import url(../global.css);


:root {
  /* CSS COLORS */

  /* primary colors */
  --bg-color: #ffffff;
  --red: #fd5c63;
  --light-red: hsl(357, 97.6%, 90%);
  --black: #20282d;
  --grey: #f4f4f4;
  --light-gray: #e9e9ea;
  --lighter-gray: hsl(0, 0%, 83%, 20%);


  --purple: #8d51e7;
  --light-purple: #f4eefd;

  --seagreen: #4dc6d6;
  --light-seagreen: #edf9fb;


  /* Secondary color, specially for login btn */
  --blue: #5174e7;
  --light-blue: #cbd5f8;

  /* Tertiary color, for homepage section bg */
  --blue: #5174e7;
  --light-blue: #cbd5f8;

  --green: #1bc47d;
  --light-green: #bbedd8;

  --pink: #ff5985;
  --light-pink: #ffcdda;

  --peach: #ff9059;
  --light-peach: #ffdecd;

  --cardsbg-lightgray: rgb(248, 248, 248);


  /* # padding spaces */
  --section-padding: 10dvh 5dvh;

  /* Font styles */
  --GSans-var: "GeneralSans-Variable";
  --GSans-varItal: "GeneralSans-VariableItalic";
  --GSans-extraLight: "GeneralSans-Extralight";
  --GSans-extraLightItalic: "GeneralSans-ExtralightItalic";
  --GSans-light: "GeneralSans-Light";
  --GSans-lightItalic: "GeneralSans-LightItalic";
  --GSans-reg: "GeneralSans-Regular";
  --GSans-italic: "GeneralSans-Italic";
  --GSans-med: "GeneralSans-Medium";
  --GSans-medItal: "GeneralSans-MediumItalic";
  --GSans-semibold: "GeneralSans-Semibold";
  --GSans-semiboldItal: "GeneralSans-SemiboldItalic";
  --GSans-bold: "GeneralSans-Bold";
  --GSans-boldItal: "GeneralSans-BoldItalic";
}


/* primary container */
.favorite-section {
  padding: var(--section-padding);
  padding-bottom: 15rem;
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.favorite-main {
  width: 92%;
  /* background-color: #1bc47d; */
}

.favorite-main h2{
  text-align: center;
  margin-bottom: 5rem;
}


/* secondary container */
.favorite-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 5rem;
}