@import url(../global.css);

:root {
  /* CSS COLORS */

  /* primary colors */
  --bg-color: #ffffff;
  --red: #fd5c63;
  --light-red: hsl(357, 97.6%, 90%);
  --black: #20282d;
  --grey: #f4f4f4;
  --light-gray: #e9e9ea;
  --lighter-gray: hsl(0, 0%, 83%, 20%);


  --purple: #8d51e7;
  --light-purple: #f4eefd;

  --seagreen: #4dc6d6;
  --light-seagreen: #edf9fb;


  /* Secondary color, specially for login btn */
  --blue: #5174e7;
  --light-blue: #cbd5f8;

  /* Tertiary color, for homepage section bg */
  --blue: #5174e7;
  --light-blue: #cbd5f8;

  --green: #1bc47d;
  --light-green: #bbedd8;

  --pink: #ff5985;
  --light-pink: #ffcdda;

  --peach: #ff9059;
  --light-peach: #ffdecd;

  --cardsbg-lightgray: rgb(248, 248, 248);


  /* # padding spaces */
  --section-padding: 10dvh 5dvh;

  /* Font styles */
  --GSans-var: "GeneralSans-Variable";
  --GSans-varItal: "GeneralSans-VariableItalic";
  --GSans-extraLight: "GeneralSans-Extralight";
  --GSans-extraLightItalic: "GeneralSans-ExtralightItalic";
  --GSans-light: "GeneralSans-Light";
  --GSans-lightItalic: "GeneralSans-LightItalic";
  --GSans-reg: "GeneralSans-Regular";
  --GSans-italic: "GeneralSans-Italic";
  --GSans-med: "GeneralSans-Medium";
  --GSans-medItal: "GeneralSans-MediumItalic";
  --GSans-semibold: "GeneralSans-Semibold";
  --GSans-semiboldItal: "GeneralSans-SemiboldItalic";
  --GSans-bold: "GeneralSans-Bold";
  --GSans-boldItal: "GeneralSans-BoldItalic";
}

.checkout {
  width: 100%;
  /* height: 100dvh; */
  background: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10dvh 0;
  padding-left: 10dvh;
}

.payment-details {
  width: 47%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* background-color: rgb(255, 195, 195); */
}

.payment-checkout{
  width: 47%;
  background-color: var(--grey);
}

.payment-details > h2 {
  margin: 2rem 0;
}

.payment-method {
  width: 100%;
}

/* start payment method styling */
.payment-method-container {
  border: 2px solid gray;
}

.payment-gateways {
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.payment-gateways:nth-child(1) {
  border-bottom: 2px solid gray;
  margin-bottom: 2rem;
}

.payment-gateways:nth-child(5) {
  border-top: 2px solid gray;
  margin-top: 2rem;
}

.gateways-options ul  {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: 0;
}

.gateways-options img {
  height: 1.8rem;
}


/* bottom container  */
.gateways-container  {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--GSans-med);
}

.gateways-container img{
  margin-right: 0.6rem;
}

.payment-gateways:nth-child(5) .gateways-container img{
  height: 1.5rem;
}


/* styling input fileds same as register input */
.billing {
  width: 100%;
}

.country-box  {
  padding: 0 1.5rem;
}

.billing > h5 {
  margin-bottom: 2rem;
}

.payment-fields {
  position: relative;
  padding: 0 1.5rem;
}

.payment-fields label,
.address-box label  {
  position: absolute;
  top: 0;
  left: 40px;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--GSans-med);
  background-color: white;
  padding: 0.5rem;
}

.address-box {
  position: relative;
  padding: 0 1.5rem;
}

.payment-fields input,
.address-box input {
  font-size: 1.3rem;
  padding: 1.1rem 2rem;
  width: 100%;
  border: 2px solid gray;
  border-radius: 35px;
  margin: 1.1rem 0;
}

input:focus {
  outline: none;
}

/* two input in one line */
.payment-expiry {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-expiry > .payment-fields {
  width: 50%;
}

.payment-method > h5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.payment-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid gray; */
}

.payment-btn button {  
  padding: 1.2rem 2.2rem;
  background-color: var(--red);
  font-size: 1.5rem;
  font-family: var(--GSans-med);
  color: white;
  border-radius: 30px;
  margin-top: 3rem;
  font-size: 1.2rem;
}

.payment-btn button:hover {
  filter: brightness(0.95);
}

.country-box {
  margin-bottom: 1.5rem;
}

.country-box label {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--GSans-med); 
}



/* Order details styling */
.payment-checkout {
  min-height: 40dvh;
  padding-left: 3rem;
}

.payment-checkout h2{
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/* order card box start styling */
.order-card-container {
  margin-right: 10dvh;
}

.order-card {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-top: 2px solid black;
  padding: 1rem 0;
  padding-right: 1rem;
}

.order-card-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding-right: 2rem;
  /* border: 2px solid black; */
  width: 90%;
}

.order-card-amount {
  /* border: 2px solid black; */
  width: 10%;
}

.order-card-box img {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}

.order-card-box h5 {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--GSans-med); 
}

.order-card-amount p {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--GSans-med); 
}


/* total billing value */
.checkout-accumulated-value {
  margin: 5rem 0;
  border-top: 4px solid black;
  padding-top: 1rem;
  margin-right: 10dvh;
}

.accumulated-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  padding-right: 1rem;
  border-bottom: 2px solid black;
}

.accumulated-amount p {
  width: 90%;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--GSans-med); 
}

.accumulated-amount h5 {
  width: 10%;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--GSans-med); 
}



/* media quries */

/* for Mobile */
@media (max-width: 767px){

  .checkout {
    align-items: center;
    flex-direction: column;
    gap: 6rem;
    padding: 5dvh 0;
    padding-bottom: 10vh;
  }
  
  .payment-details {
    width: 90%;
  }
  
  .payment-checkout{
    width: 90%;
  }
  
  .payment-details > h2 {
    margin: 1rem 0;
  }
  
  /* start payment method styling */
  .payment-gateways:nth-child(1) {
    margin-bottom: 1rem;
  }
  
  .payment-gateways:nth-child(5) {
    margin-top: 1rem;
  }

  /* styling input fileds same as register input */
  .country-box  {
    padding: 0 1rem;
  }

  .billing > h5 {
    margin-bottom: 1rem;
  }

  .payment-fields {
    padding: 0 1rem;
  }

  .payment-fields label,
  .address-box label  {
    top: -3px;
    font-size: 1.1rem;
  }

  .address-box {
    padding: 0 1rem;
  }

  .payment-fields input,
  .address-box input {
    font-size: 1.1rem;
    padding: 0.8rem 1rem;
  }

    
  /* two input in one line */
  .payment-method > h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .payment-btn button {  
    padding: 1rem 2rem;
  }

  .country-box {
    margin-bottom: 1rem;
  }

  .country-box label {
    font-size: 1.3rem;
  }

  /* Order details styling */
  .payment-checkout {
    padding: 3rem;
  }

  .payment-checkout h2{
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  /* order card box start styling */
  .order-card-container {
    margin-right: 0;
  }

  .order-card {
    margin-top: 1rem;
    padding: 1rem 0;
    padding-right: 1rem;
  }

  .order-card-box {
    padding-right: 1rem;
  }

  .order-card-amount p {
    font-size: 1.3rem;
  }


  /* total billing value */
  .checkout-accumulated-value {
    margin: 2rem 0;
    margin-right: 0;
  }

  .accumulated-amount p {
    font-size: 1.3rem;
  }

  .accumulated-amount h5 {
    font-size: 1.3rem;
  }

}


/* for Tablet */
@media (max-width: 1023px) and (min-width: 768px)  {

  .checkout {
    align-items: center;
    flex-direction: column;
    gap: 6rem;
    padding: 5dvh 0;
    padding-bottom: 10vh;
  }
  
  .payment-details {
    width: 80%;
  }
  
  .payment-checkout{
    width: 80%;
  }
  
  .payment-details > h2 {
    margin: 1rem 0;
  }
  
  /* start payment method styling */
  .payment-gateways:nth-child(1) {
    margin-bottom: 1rem;
  }
  
  .payment-gateways:nth-child(5) {
    margin-top: 1rem;
  }

  /* styling input fileds same as register input */
  .country-box  {
    padding: 0 1rem;
  }

  .billing > h5 {
    margin-bottom: 1rem;
  }

  .payment-fields {
    padding: 0 1rem;
  }

  .payment-fields label,
  .address-box label  {
    top: -3px;
    font-size: 1.1rem;
  }

  .address-box {
    padding: 0 1rem;
  }

  .payment-fields input,
  .address-box input {
    font-size: 1.1rem;
    padding: 0.8rem 1rem;
  }

    
  /* two input in one line */
  .payment-method > h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .payment-btn button {  
    padding: 1rem 2rem;
  }

  .country-box {
    margin-bottom: 1rem;
  }

  .country-box label {
    font-size: 1.3rem;
  }

  /* Order details styling */
  .payment-checkout {
    padding: 3rem;
  }

  .payment-checkout h2{
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  /* order card box start styling */
  .order-card-container {
    margin-right: 0;
  }

  .order-card {
    margin-top: 1rem;
    padding: 1rem 0;
    padding-right: 1rem;
  }

  .order-card-box {
    padding-right: 1rem;
  }

  .order-card-amount p {
    font-size: 1.3rem;
  }


  /* total billing value */
  .checkout-accumulated-value {
    margin: 2rem 0;
    margin-right: 0;
  }

  .accumulated-amount p {
    font-size: 1.3rem;
  }

  .accumulated-amount h5 {
    font-size: 1.3rem;
  }

}




