@import url(../global.css);


:root {
    /* CSS COLORS */
  
    /* primary colors */
    --bg-color: #ffffff;
    --red: #fd5c63;
    --light-red: hsl(357, 97.6%, 90%);
    --black: #20282d;
    --grey: #f4f4f4;
    --light-gray: #e9e9ea;
    --lighter-gray: hsl(0, 0%, 83%, 20%);
  
  
    --purple: #8d51e7;
    --light-purple: #f4eefd;
  
    --seagreen: #4dc6d6;
    --light-seagreen: #edf9fb;
  
  
    /* Secondary color, specially for login btn */
    --blue: #5174e7;
    --light-blue: #cbd5f8;
  
    /* Tertiary color, for homepage section bg */
    --blue: #5174e7;
    --light-blue: #cbd5f8;
  
    --green: #1bc47d;
    --light-green: #bbedd8;
  
    --pink: #ff5985;
    --light-pink: #ffcdda;
  
    --peach: #ff9059;
    --light-peach: #ffdecd;
  
    /* # padding spaces */
    --section-padding: 10dvh 5dvh;
  
    /* Font styles */
    --GSans-var: "GeneralSans-Variable";
    --GSans-varItal: "GeneralSans-VariableItalic";
    --GSans-extraLight: "GeneralSans-Extralight";
    --GSans-extraLightItalic: "GeneralSans-ExtralightItalic";
    --GSans-light: "GeneralSans-Light";
    --GSans-lightItalic: "GeneralSans-LightItalic";
    --GSans-reg: "GeneralSans-Regular";
    --GSans-italic: "GeneralSans-Italic";
    --GSans-med: "GeneralSans-Medium";
    --GSans-medItal: "GeneralSans-MediumItalic";
    --GSans-semibold: "GeneralSans-Semibold";
    --GSans-semiboldItal: "GeneralSans-SemiboldItalic";
    --GSans-bold: "GeneralSans-Bold";
    --GSans-boldItal: "GeneralSans-BoldItalic";
  }
  



  /* Cards Detail styling start */

.card-wrapper{
  max-width: 1100px;
  margin: 10px auto;
  padding:0 20px;
  margin-top: 12rem;
  margin-bottom: 10rem;
}
img{
  width: 100%;
}
.img-showcase{
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img{
  min-width: 100%;
}
.img-select{
  display: flex;
  justify-content: center;
}
.img-item{
  margin: 0.3rem;
}
.img-item img{
  width: 100%;
  height:100px;
  cursor: pointer;
  transition: all 0.1s ease;
}

/* .img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
} */
.img-item:hover{
  opacity: 0.8;
}

@media screen and (max-width: 992px){
.product-imgs, .card-detail-container {
  max-width: 500px;
}
.card-wrapper {
  justify-content: center;
  display: flex
;
}
.product-content{
margin:40px 0;
}
}



.product-title{
  font-size: 32px;
  line-height:42px;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin-bottom:15px;
}
.product-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
.product-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover{
  opacity: 0.9;
}
.product-rating{
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff9059;
  margin-bottom: 15px;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}
.product-price{
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span{
  font-weight: 400;
}
.last-price span{
  color: #f64749;
  text-decoration: line-through;
}
.new-price span{
  color: #256eff;
}
.product-detail h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p{
  font-size: 16px;
  padding: 5px 0;
  opacity: 0.8;
  letter-spacing: 0.5px;
}
.product-detail ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
  background-size: 16px;
  padding-left: 22px;
  margin: 5px 0;
  font-weight: 600;
  font-size: 1.2rem;
  opacity: 0.9;
}

@media screen and (min-width: 992px){
  .card-detail-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
  }
  .card-wrapper{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .product-imgs{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
}


.deliver {
  display: flex;
  margin: 10px 0;
}
.deliver-icon-1 ,.deliver-icon-2 {
  width: 150px;
  height:100px;
  padding: 5px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deliver-icon-1 {
  border: 1px solid #ff9059;
  margin-right: 10px;
  background-color: #ffdecd;
}
.deliver-icon-2 {
  border: 1px solid #484646;
  background-color: rgba(162, 162, 162, 0.884);
}
.deliver-icon-1 p {
  font-size: 12px;
  font-weight: 600;
  color: #ff9059;
}
.deliver-icon-2 p {
  font-size: 12px;
  font-weight: 600;
  color: #333333;
}
.img-select .active img {
  border: 2px solid #ff9059; /* Or any other style to highlight the active image */
}

.btn-cart {
  width: 150px;
  height: 45px;
  border-radius: 25px;
  padding: 10px;
  background-color: #ff9059;
  color: white;
  font-weight: 600;
  border: none;
  cursor:pointer;
  margin-bottom: 2rem;
}
.quantity {
  width: 149px;
  height: 43px;
  border-radius: 25px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 2rem;
}
.btn-cart:hover{
  box-shadow: #ff9059 0px 5px 19px 0px;
}
  