@import url(../global.css);


:root {
    /* CSS COLORS */
  
    /* primary colors */
    --bg-color: #ffffff;
    --red: #fd5c63;
    --light-red: hsl(357, 97.6%, 90%);
    --black: #20282d;
    --grey: #f4f4f4;
    --light-gray: #e9e9ea;
    --lighter-gray: hsl(0, 0%, 83%, 20%);
  
  
    --purple: #8d51e7;
    --light-purple: #f4eefd;
  
    --seagreen: #4dc6d6;
    --light-seagreen: #edf9fb;
  
  
    /* Secondary color, specially for login btn */
    --blue: #5174e7;
    --light-blue: #cbd5f8;
  
    /* Tertiary color, for homepage section bg */
    --blue: #5174e7;
    --light-blue: #cbd5f8;
  
    --green: #1bc47d;
    --light-green: #bbedd8;
  
    --pink: #ff5985;
    --light-pink: #ffcdda;
  
    --peach: #ff9059;
    --light-peach: #ffdecd;
  
    /* # padding spaces */
    --section-padding: 10dvh 5dvh;
  
    --cardsbg-lightgray: rgb(248, 248, 248);


    /* Font styles */
    --GSans-var: "GeneralSans-Variable";
    --GSans-varItal: "GeneralSans-VariableItalic";
    --GSans-extraLight: "GeneralSans-Extralight";
    --GSans-extraLightItalic: "GeneralSans-ExtralightItalic";
    --GSans-light: "GeneralSans-Light";
    --GSans-lightItalic: "GeneralSans-LightItalic";
    --GSans-reg: "GeneralSans-Regular";
    --GSans-italic: "GeneralSans-Italic";
    --GSans-med: "GeneralSans-Medium";
    --GSans-medItal: "GeneralSans-MediumItalic";
    --GSans-semibold: "GeneralSans-Semibold";
    --GSans-semiboldItal: "GeneralSans-SemiboldItalic";
    --GSans-bold: "GeneralSans-Bold";
    --GSans-boldItal: "GeneralSans-BoldItalic";
}
  

.brands-cards-section {
  /* background-color: #cbd5f8; */
  padding: var(--section-padding);
  width: 100%;
  height: fit-content;
  margin-top: 3rem;
}

/* .brands-cards-container {

} */

.brands-cards-container > h2{
  text-align: center;
}

.brands-cards-container h2 span{
  color: var(--red);
}

.brands-cards-container > h5{
  text-align: center;
}

.side-text-1 {
  /* background-color: #1bc47d; */
  text-align: center;
  width: 1.5rem;
  height: 22rem;
  margin-bottom: 10rem;
  margin-top: 25rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 600;
  font-family: var(--GSans-med);
  position: sticky;
  top: 40%;
  left: 0%;
  color: #3a4247;
}

.side-text-2 {
  /* background-color: #1bc47d; */
  text-align: center;
  width: 1.5rem;
  height: 22rem;
  margin-bottom: 10rem;
  margin-top: 25rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 600;
  font-family: var(--GSans-med);
  position: sticky;
  top: 40%;
  right: 0%;
  color: #3a4247;
}

.brands-cards {
  width: 100%;
  /* background-color: #8d51e7; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.categories-cards-container {
  /* background-color: #fd5c63; */
  width: 90%;
  isolation: isolate;
}

.categories-cards-container h2{
  text-align: center;
  font-size: 6rem;
  font-weight: 800;
  font-family: var(--GSans-med);
  position: sticky;
  top: 20%;
  z-index: -1;
  margin-top: 5rem;
  margin-bottom: 5rem;
}


/* .brands-cards:nth-child(1) > .categories-cards-container > h2{

  color: #d10a10;
} */


/* Cards Styling starts */


.cards-container-main {
  /* height: 100%; */
  width: 100%;
  /* background-color: #655f6d; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 4rem;
  column-gap: 2rem;
}



.card-cards {
  width: 30rem;
  /* background-color: var(--cardsbg-lightgray); */
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  /* border: 1px solid var(--blue); */
  box-shadow: 0 0 20px var(--light-gray);
}


.card-cards:hover .card-cards-img img {
  transform: scale(1.05);
}


/* image box styling */
.card-cards-img {
  width: 30rem;
  height: 28rem;
  position: relative;
  /* background-color: #8d51e7; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url(../../images/homepage/trending/trending-bg-pink.svg);
}

.card-cards-img img{
  /* width: 100%; */
  height: 26rem;
  /* height: 42rem; */
  /* object-fit: contain; */
  object-position: center;
  transition: transform 0.3s ease-in-out;
}

.card-cards-img > .heart-svg{
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgb(179, 179, 179);
  border-radius: 50%;
  padding: 0.6rem;
  cursor: pointer;
  z-index: 3;
}

.card-cards-img > .heart-svg:hover {
  background-color: var(--red);
}

.card-cards-img .stock-label{
  position: absolute;
  top: 1.5rem;
  left: 0;
  padding: 0.2rem 0.8rem;
  /* background-color: #ff8d8d; */
  border: 1px solid;
  border-left: none;
  /* color: #ee0000; */
  font-size: 1.1rem;
  font-family: var(--GSans-reg);
  font-weight: 600;
  z-index: 3;
}

/* Content box styling */
.card-cards-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 1rem;
  padding-top: 1rem;
}

.card-cards-content .share-svg{
  margin-top: 0.5rem;
  border-radius: 50%;
  padding: 0.6rem;
  cursor: pointer;
}

.card-cards-content .share-svg:hover {
  background-color: var(--light-gray);
  filter: brightness(0.95);
}

.card-cards-content h5{
  font-family: var(--GSans-med);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #3a4247;
}


/* price and cart area */
.card-cards-svgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}

.card-cards-svgs p{
  font-family: var(--GSans-med);
  font-weight: 500;
  font-size: 1.6rem;
  color: #3a4247;
}

.card-cards-svgs .card-cart{
  border-radius: 50%;
  padding: 0.7rem;
}

.card-cards-svgs .card-cart:hover {
  background-color: var(--light-gray);
  filter: brightness(0.95);
}

/* See details button */
.card-cards-detail-btn {
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5rem;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--GSans-med);
}

.card-cards-detail-btn:hover {
  filter: brightness(0.9);
}

.card-cards-detail-btn svg {
  margin-left: 2rem;
  transition-property: transform margin-left;
  transition: 0.3s ease-in-out;
}

.card-cards-detail-btn:hover svg {
  margin-left: 3rem;
  transform: scale(1.2);
}


/* Cards Styling end */


.link-to-page {
  /* background-color: #1bc47d; */
  width: 18%;
  margin: 0 auto;
  margin-bottom: 5rem;
  transition: width 0.3s ease-in-out;
}

.link-to-page a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid ;
  color: var(--blue);
}

.link-to-page a h5 {
  font-size: 1.3rem;
  font-weight: 500;
}

.link-to-page:hover {
  width: 19%;
}

.link-to-page a svg {
  transition: transform 0.3s ease-in-out;
}

.link-to-page:hover a svg {
  transform: scale(1.2);
}

.link-to-page a:visited {
  color: var(--green);
}