@import url(./global.css);



main .top-btn {
    position: fixed;
    bottom: 9%;
    right: 5%;
    z-index: 100;
    background-color: var(--red);
    padding: 0 1rem;
    padding-top: 0.2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
}

main .top-btn:hover {
    filter: brightness(0.95);
}


/* media quries */

/* for Mobile */
@media (max-width: 1024px){
    main .top-btn {
        padding: 0 0.8rem;
        padding-top: 0.3rem;
        font-size: 1.5rem;
    }
    
    main .top-btn:hover {
        filter: none;
    }
    
}
